#img-bg{
    background-image: url('https://i.imgur.com/d5bMdDJ.jpg');

    min-height: 100vh; /*para completar 100% de todas as telas*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}